<a href="https://colab.research.google.com/github/sansha/LearnCoding/blob/master/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Welcome Back to Day 4!")

Welcome Back to Day 3!

# Day 4

all the days can be found on [github](https://www.github.com/sansha/LearnCoding)

## Topic: Lists & Co, Errors :)

Welcome to Day 4! I like you're still on board!
Today we're taking a closer look at the more complex types called objects.
We have already seen the list (we had the list of names, right?).
In the following there is an explanation about the others as well

# Theory Part 2

A lot of the following content is copied and adapted from [here](https://gist.github.com/kenjyco/69eeb503125035f21a9d)

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.
> 
>I added a simple description there and some nerd infos (in brackets). the nerd infos are defintely useful later, but don't worry too much about them for now.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** these are what we used to store text 

  (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** we already used these to store multiple items 

  (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** this is kinda similar to the list, however it uses round brackets and it is e.g. used to store a pairs of things 

  (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** this is used when you have unordered stuff 

  (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** this actually works how you would imagine a dictionary to work. It will store so called key-value pairs, which could be a word in your language (key) and the translation (value). These are also really useful

  (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators. This means if you have two of those, you can just *add* them together!

### Examples
Here you can find tons of examples of these types! make sure to play around for a bit!

In [0]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [0]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [0]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [0]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [0]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [0]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [0]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [0]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [0]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

For these, it is important that you have executed all the fields above. If you haven't, you can go to `Runtime -> execute all cells`

In [0]:
# Access the first item in a sequence
list1[0]

3

In [0]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [0]:
# Access a range of items in a sequence
simple_string1 = "this is some long text"
simple_string1[3:8]

's is '

In [0]:
# Access a range of items in a sequence
tuple1[:-3]

In [0]:
# Access a range of items in a sequence
list1[4:]

In [0]:
# Access an item in a dictionary
dict1['name']

In [0]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

## Task 1:

now, create a dictionary with the names of three people and their ages and print them to the console. You should have learned all you need for this :)

If you're stuck, you can check out the hint I provided for you.

# 2 Errors

### Task 2

actually, there is also another way of adding two strings together: the `+` operator!

In [0]:
a = "something"
b = "something else"
combined = a + " & " + b
print(combined)

now add the number to the string and print it!

In [0]:
combined_and_number =  # add here
print(combined_and_number)

oh no! There's an error! That is completely **normal**. Maybe you already experienced an error while doing this tutorial. So, what are you gonna do? Of course, use Google! (hint: use the error message at the bottom `SyntaxError: invalid syntax`)

What did you find out about this error and how can you fix it?

In [0]:
## correct your mistake in the code above

what other errors can you make? There are actually different classes of errors, the most broad ones being
- syntactic erros, meaning the computer will tell you that it doesn't understand what yo're saying
- semantic errors, where the computer can do whatever you want him to do, but this is not what you actually wanted to do

Don't worry about these definitions as of now, you can always come back here once you read semantic or syntactic and don't understand what's going on.

### Task 3 correct the errors

So, for the beginning we will focus on typos which can happen while coding. So let's see what kind of errors you will get in the following examples.

There is one error per code block. 
First just run the code, read the error message and ask yourself what it could mean. After that, compare what you see here to what you've seen previously and try to fix it and run it again. 

If this doesn't work, google the error message.

In [0]:
variable =

the error message actually points to the point where the error was detected!

In [0]:
variable = "some words

In [0]:
print(something)

In [0]:
print(varable)

In [0]:
print(variable

now we will also have a *semantic* error meaning it will execute normally, but the result is not what you expected:

In [0]:
stuff = "something"
print("this is {stuff}")

what is missing here?

# Solutions

## Task 1:

### Hint

In [0]:
dict = {} # add names here

for name in dict:
  # add print here

### Solution

In [0]:
dict = {"Peter": 25, "Jane": 12} # add name: age pairs here

for name in dict:
  print(f"{name} is {dict[name]} years old")

Peter is 25 years old
Jane is 12 years old

## Task 2: Solution

as the [first google result suggests](https://guide.freecodecamp.org/python/converting-integer-to-string-in-python/), the variable has a wrong *type*. We're going to talk about Types in the future in more detail. For now, the website suggests using `str(age)` in their example. So, we will use

In [0]:
combined_and_number = combined + str(number) # add here
print(combined_and_number)

the `f"text {variable}` thing we did previously actually does this implicitly so we don't need to worry about it! That's why it's often useful to just use that variant. It converts whatever you have into a printable string.

## Task 3: Solution

In [0]:
# the solution to all parts can be found here

# you need to have something after the '=' sign
# "" is called "empty string" and contains nothing
variable = "" 

# a string must start and end with ", otherwise the computer will not understand
variable = "some words"

# you can't print something that is not defined, 
# you have to define something before using it
something = "blabla"
print(something)

# same goes for the 2nd one, with a typo it will treat varable as a new thing
print(variable)

# similar to the "", after print( you need a closing ), otherwise the computer
# will not understand
print(variable)

# dont forget the small f before ""
# hint: it actually also looks different, right?
stuff = "something"
print(f"this is {stuff}")