<a href="https://colab.research.google.com/github/sansha/LearnCoding/blob/master/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Welcome Back to Day 3!")

# Day 3

all the days can be found on [github](https://www.github.com/sansha/LearnCoding)

## Topic: Strings :)

Welcome to Day 3! How is it going so far?

# 1 Make the output more flexible

for now, we printed stuff on the console using `print(firstThing, secondThing, etc)`. This adds a whitespace between all the elements. However, sometimes we don't want that. 

E.g. the output `1 Hello Mom` wasn't actually the `1. Hello Mom` I promised, because it could have only been `1 . Hello Mom`.

So, let's introduce a new way to print things (I also learned this only 3 weeks ago, I'm actually not a python expert by the way):

### Formatting a String

Texts are called strings in programming, and we want to format those in a nice way. So what we're doing is called string formatting. It works like this:

In [0]:
name = "Simon"
age = 21
nicely_formatted = f"{name} is {age} years old" # f is the important key here

# this website just prints the value of the thing you put on the last line
nicely_formatted

or to describe it more generally:

```
f"normal text {a variable name we want to put into it} some more text {other variable}"
```
You can also print it directly (you can also `print(nicely_formatted)` with the same result).

In [0]:
print(f"{name} is {age} years old")

what do you think happens if you add a string to another string? Try it!

In [0]:
description = "nice dude"
print(f"{nicely_formatted} and is a {description}")

what happens if you want to put in a number? Let's try!

In [0]:
print(f"this is a cool number: {5}")

it works! What if we store that number in a variable?

In [0]:
number = 5
print(f"this is a cool number: {number}")

# 2 Theory Part 1

today and the following few days will have some more theory on python which is necessary as a baseline to start doing more fun stuff.
Let's start by talking a lot more about types in variables. A lot of the following content is copied and adapted from [here](https://gist.github.com/kenjyco/69eeb503125035f21a9d)


just so that you've heard all the names, we'll start by the types we have in python.

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

as you can see, there is a lot more hiding behind the easy

In [0]:
variable = "some text"
number = 25

things we did previously. So when we are doing this:

In [0]:
variable = 25

the variable *changes the type* or more specifically, the thing hiding behind the name is changing a lot.

So, what happens if we do this:

In [0]:
number = number + 1

what happens is first the computer will *evaluate* the thing on the right. 
For that, it will *take a look* at what's *hidden* behind `number`, and will put that there. So, as number is 25 it will lead to `25 + 1` as an intermediate step.
After that, it will cacluate `25 + 1` which results in `26` and store that behind the name `number`.

So while intuitively it doesn't feel right to say `number = number + 1` doesn't feel right, it actually does something meaningful. So you might think of the `=` more like a `<=` writing that from the right in the thing on the left.

checking if something is equal (which is the intuition behind `a = b` is actually denoted `a == b` in *most* programming languages.

Let's check out all the operators which exist:

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

### Examples
here you will find all kinds of examples

In [0]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [0]:
# Addition
num1 + num2

In [0]:
# Subtraction
num2 - num3

In [0]:
# Multiplication
num3 * num4

In [0]:
# Division
num4 / num5

In [0]:
# Exponent
num5 ** num6

In [0]:
# Increment existing variable
num7 += 4
num7

In [0]:
# Decrement existing variable
num6 -= 2
num6

In [0]:
# Multiply & re-assign
num3 *= 5
num3

In [0]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

# Task

print the names of each of your friends and their age (Jane is 18, etc).
Simultaneously, calculate the sum of all the ages and print it at the end

In [0]:
friends = ["Jane", "Bob", "Alice"]
ages = [18, 19, 20]

## Check these other examples out!

In [0]:
# Are these two expressions equal to each other?
num1 + num2 == num5

In [0]:
# Are these two expressions not equal to each other?
num3 != num4

In [0]:
# Is the first expression less than the second expression?
num5 < num6

In [0]:
# Is this expression True?
5 > 3 > 1

In [0]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

In [0]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [0]:
# Addition
simple_string1 + ' of using the + operator'

In [0]:
# Notice that the string was not modified
simple_string1

In [0]:
# Multiplication
simple_string2 * 4

In [0]:
# This string wasn't modified either
simple_string2

In [0]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

In [0]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

In [0]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

In [0]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

In [0]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

# Solutions

In [23]:
sum = 0
for i in range(len(friends)):
  print(f"{friends[i]} is {ages[i]} years old")
  sum += ages[i]

print("sum of years:", sum)

Jane is 18 years old
Bob is 19 years old
Alice is 20 years old
sum of years: 57